.tsection1{
    padding: 7vw 4vw;
    width: 100%;

}
.tsection1 .ts1top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.tsection1 .ts1center{
    border: 1px solid rgba(156, 156, 156, 0.468);
    margin: 10rem 6rem;
    border-radius: 1.5rem;
    padding: 6rem 6rem;
}
.tsection1 .ts1center .person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.tsection1 .ts1center .person .profile{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.tsection1 .ts1center .person .profile .testimonials{
    height: 11rem;
    object-fit: cover;
    border-radius: 1rem;
}
.tsection1 .ts1center .person .profile .ts1text{
   text-align: center;
   line-height: 3rem;
}
.ts1feedback{
    border-left: 1px solid rgba(156, 156, 156, 0.468);
    padding-left: 5rem;
    width: 80%;
}
.ts1feedback .ts1comment{
    font-size: 2.5rem;
    line-height: 4rem;
}

.star{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.star i{
    font-size: 2.2rem;
    color:yellow;
}